[SONARR]
ENABLED = ON
URL = http://192.168.1.1:8989
TOKEN = xxxxxx
TAGS_KEEP_MOVIES_ANYWAY = keep

[PRUNE]
ENABLED = OFF
DRY_RUN = ON
REMOVE_SERIES_AFTER_DAYS = 30
WARN_DAYS_INFRONT = 1
ONLY_SHOW_REMOVE_MESSAGES = OFF
VERBOSE_LOGGING = ON
MAIL_ENABLED = OFF
ONLY_MAIL_WHEN_REMOVED = OFF
MAIL_PORT = 587
MAIL_SERVER = mail.sever.tld
MAIL_LOGIN = login@mail.tld
MAIL_PASSWORD = sgdfjsgdjsdg
MAIL_SENDER = sender@mail.tld
MAIL_RECEIVER = receiver@mail.tld,receiver2@mail.tld

[PUSHOVER]
ENABLED = OFF
USER_KEY = xxxxxxxxxxxxxxx
TOKEN_API = xxxxxxxxxxxxxxx
SOUND = pushover